# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Allow shipping the GEAC vendor blobs explicitly
!geac_init/lib/libgeaccam.so
!geac_init/lib/sensorlib/libisx031std.so
!geac_init/lib/sensorlib/libmax9296.so
!geac_init/lib/sensorlib/libmax96712.so
!geac_init/lib/sensorlib/libmax96724.so

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# compile save files
build
install
log
